<div id="interior_wrap">
<section id="main">
{% layout settings.customer_layout %}

<section id="content" class="cf">
  <h2>Reset Account Password</h2>
  <p>Enter a new password for {{ email }}</p>

  {% form 'reset_customer_password' %}
    {{ form.errors | default_errors }}

    <fieldset id="password">
      <label class="large" for="password">Password</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
    </fieldset>
    
    <fieldset id="password_confirm">
      <label class="large" for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="large password" size="16" />
    </fieldset>
    
    <div class="action_bottom">
      <input class="button" type="submit" value="Reset Password" />
    </div>
    {% endform %}

</section><!-- end content -->
</section><!-- end main -->
</div><!-- end interior_wrap -->